# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Schule\SYT\4DHIT\Windpark_MOM\DEZSYS_GK772_WINDPARK_MOM-master\DEZSYS_GK772_WINDPARK_MOM-master\windpark_demo2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
